<footer id="main-footer">
				
<div class="container">
	<div id="footer-widgets" class="clearfix">
	<div class="footer-widget"><div id="text-3" class="fwidget et_pb_widget widget_text">			<div class="textwidget"><p><strong>Grupo Interconsult México</strong></p>
        <p>Fraccionamiento Industrial Parque Inn<br>
        Carretera Naucalpan – Toluca, Km. 52.5<br>
        Calle Isaac Newton No. 102<br>
        San Mateo Otzacatipan<br>
        C.P. 50220 Toluca, Edo. de México, México.<br>
        Tels. (+52) (722) 249 7491 – 249 7492 – 249 7493</p>
    </div>
	</div>
</div>
<div class="footer-widget">
    <div id="text-4" class="fwidget et_pb_widget widget_text">	
        <div class="textwidget"><p>
            <strong>Grupo Interconsult Colombia</strong></p>
            <p>Calle 93B No. 13 – 14 Oficina 204<br>
            Bogotá D.C.<br>
            COLOMBIA<br>
            Tels. (+57) (1) 616 1004<br>
            Fax: (+57) (1) 610 2845</p>
        </div>
		</div>
    </div>
    <div class="footer-widget">
        <div id="text-5" class="fwidget et_pb_widget widget_text">		
            <div class="textwidget"><p>
                <strong>Grupo Interconsult Colombia II</strong></p>
                <p>Carrera 100 No. 11 – 90 Oficina 321<br>
                Holguines Trade Center<br>
                Cali – COLOMBIA<br>
                Tels.: (+57) (2) 330 5763<br>
                Fax: (+57) (2) 330 2797</p>
            </div>
		</div>
    </div>	
</div>
</div>
			<div id="footer-bottom">
				<div class="container clearfix">
				<div id="footer-info">©Copyright 2023 GI LATAM</div>					</div>
				</div>
			</footer>